
.mobileRounds{
  display: none;
}

.desktopRounds{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 1em;
}

@media (max-width: 991.98px) {
  .mobileRounds{
    display: block;
  }
  .desktopRounds{
    display: none;
  }
}
