.tournamentMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .5em;

  > div {
    display: flex;
    align-items: center;
  }

  &.playersWrapper > div::before {
      content: '•';
      margin-right: 5px;
  }

  .playerWinner{
    font-weight: bold;
    svg{
      left: 1em;
      position: relative;
      color: darkgoldenrod;
    }
  }

  &.matchResult{
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

}

.emptyScoreWrapper svg{
  margin-left: .5em;
}

.match {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 13em max-content;
  gap: 4em;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }
}

@media (max-width: 469px) {
  .match{
    grid-template-columns: 1fr 1fr;
  }
}
