.firstPlayer{
  color: darkgoldenrod;
  svg{
    margin-left: .5em;
  }
}

.top3Players{
  font-size: 1.3em;

  &.thirdPlayer{
    margin-bottom: .5em;
  }
}

.playerName{
  font-weight: bold;
}

.retiredPlayer{
  //text-decoration:  line-through;
  position: relative;
  &::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
  }
}
